@charset "UTF-8";

/*-----------------------------------------------
modify Fox-css
-----------------------------------------------*/
.fx-row {
    margin: 0;
    padding: 0;
}

[class*="fx-col"] {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------
all
-----------------------------------------------*/
html {
    height: 100%;
    min-height: 100%;
    font-size: $fontsizeBase;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    line-height: 1.5;
    padding: 0 !important;
    background: $baseColor;
    @include fontFamilySansSerif();
    color: $fontColor;

    @include pc {
        font-size: 1.4rem;
    }

    @include tab {
        font-size: 1.4rem;
    }

    @include mb {
        font-size: 1.4rem;
    }

}

a {
    color: $linkColor;
    text-decoration: none;

    &:link,
    &:visited {
        color: $borderColor;
    }

    &:hover {
        opacity: .8;
    }
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
}

.btn:hover {
    opacity: .8;
}

.split {
    padding: 0 $pcNum;

    @include mbTab {
        font-size: 1.2rem;
    }
}

.wrap {
    width: 100%;
    height: 100%;
}

/*-----------------------------------------------
generic
-----------------------------------------------*/
/*---- block  ----*/
.dsn {
    display: none !important;
}

.bdn {
    border: none !important;
}

/*--- clearfix ---*/
.clear {
    clear: both;
}

.cf {
    display: block;

    &::after {
        clear: both;
        visibility: hidden;
        display: block;
        height: 0;
        content: "";
    }
}

/*---- display  ----*/
.mbOn {
    @include pc {
        display: none;
    }
}

.mbOff {
    @include mbTab {
        display: none;
    }
}

/*---- height  ----*/
.lh_0 {
    line-height: 0;
}

/*-----------------------------------------------
component
-----------------------------------------------*/
/*---- title  ----*/
.title {
    //background: url(#{$imgPath}/titleBg.jpg);
}

/*---- table  ----*/

/*-----------------------------------------------
common
-----------------------------------------------*/
.container {
    width: 100%;
    height: 100%;
    padding: 0;

    @include pc {
        max-width: 970px;
        margin: 0 auto;
    }

    @include mbTab {
        margin: 0 auto;
    }
}

/*---- .header  ----*/
/*---- footer  ----*/
/*---- lower  ----*/
