@charset "UTF-8";

/*-----------------------------------------------
mixins
-----------------------------------------------*/
// @media
@mixin mb {
    @media screen and (max-width : 414px) and (orientation: portrait) {
        @content;
    }
}

@mixin mbTab {
    @media screen and (max-width : 767px) {
        @content;
    }
}

@mixin tab {
    @media screen and (min-width : 415px) and (max-width : 767px) {
        @content;
    }
}

@mixin tabPc {
    @media screen and (min-width : 415px) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width : 768px) {
        @content;
    }
}

@mixin pcOver {
    @media screen and (min-width : 1200px) {
        @content;
    }
}

// font
@mixin fontFamilySerif () {
    font-family: 'HG明朝E','HGSMinchoE', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

@mixin fontFamilySansSerif () {
    //font-family: 游ゴシック','Yu Gothic','メイリオ','Meiryo','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','游ゴシック','Yu Gothic','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
    font-feature-settings: "palt";
    -webkit-font-feature-settings: "pkna";
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        font-feature-settings: "palt";
    }
}

// area
@mixin tableCol($verticalAlign) {
    display: table;
    width: 100%;

    & > * {
        float: none;
        display: table-cell;
        vertical-align: $verticalAlign;
    }
}

@mixin col_2($num) {
    &:nth-child(odd) {
        padding-right: ($num);
    }

    &:nth-child(even) {
        padding-left: ($num);
    }

    &:nth-child(3n+1) {
        clear: both;
    }

    &:nth-child(n+3) {
        padding-top: ($num * 2);
    }
}

@mixin col_3($num) {
    &:nth-child(3n+1) {
        clear: both;
        padding-right: ($num);
    }

    &:nth-child(3n+2) {
        padding: 0 ($num / 2);
    }

    &:nth-child(3n) {
        padding-left: ($num);
    }

    &:nth-child(n+4) {
        padding-top: ($num * 2);
    }
}

@mixin col_4($num) {
    &:nth-child(1) {
        padding-right: ($num * 2);
    }

    &:nth-child(2) {
        padding: 0 ($num);
    }

    &:nth-child(3) {
        padding: 0 ($num);
    }

    &:nth-child(4) {
        padding-left: ($num * 2);
    }
}

@mixin col_5($num) {
    &:nth-child(1) {
        padding-right: ($num);
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        padding: 0 ($num / 2);
    }

    &:nth-child(5) {
        padding-left: ($num);
    }
}

@mixin col_7($num) {
    &:nth-child(1) {
        padding-right: ($num * 2);
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
        padding: 0 ($num);
    }

    &:nth-child(7) {
        padding-left: ($num * 2);
    }
}

@mixin rectangle4to3() {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 75% 0 0;

    & > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  #b40d0d;
    }
}

@mixin rectangle16to9() {
    position: relative;
    width: 100%;

    &:before {
        content:"";
        display: block;
        padding-top: 56.25%; // 高さと幅の比を16:9に固定。9/16*100=56.25
    }

    & > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@mixin placeholderColor($color) {
    &:placeholder-shown {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
}

@mixin paddingAll($p, $m) {
    @include pc {
        padding: $p;
    }

    @include mbTab {
        padding: $m;
    }
}

@mixin paddingSide($p, $m) {
    @include pc {
        padding: 0 $p;
    }

    @include mbTab {
        padding: 0 $m;
    }
}

@mixin paddingVertical($p, $m) {
    @include pc {
        padding: $p 0;
    }

    @include mbTab {
        padding: $m 0;
    }
}

@mixin paddingTop($p, $m) {
    @include pc {
        padding-top: $p;
    }

    @include mbTab {
        padding-top: $m;
    }
}


@mixin paddingLeft($p, $m) {
    @include pc {
        padding-left: $p;
    }

    @include mbTab {
        padding-left: $m;
    }
}

@mixin paddingRight($p, $m) {
    @include pc {
        padding-right: $p;
    }

    @include mbTab {
        padding-right: $m;
    }
}

@mixin paddingBottom($p, $m) {
    @include pc {
        padding-bottom: $p;
    }

    @include mbTab {
        padding-bottom: $m;
    }
}

// page