@charset 'UTF-8';

// -----------------------------------------------
// variable
// -----------------------------------------------
// color
$base-color: #000;
$font-color: #fff;
$key-color: #ff0;
$color-1: #000;
$color-2: #000;
$color-3: #000;
$border-color: #000;
$link-color: #000;
$visit-color: #000;

// url
$image-path: '/assets/images/min/';
