@charset 'UTF-8';

// -----------------------------------------------
// variable
// -----------------------------------------------
// color
$base_color: #000;
$font_color: #fff;
$key_color: #ff0;
$color_1: #000;
$color_2: #000;
$color_3: #000;
$border_color: #000;
$link_color: #000;
$visit_color: #000;

// url
$imgPath: '/assets/images/min/'; //"http://";
